@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

nav {
  background-color: #000;
  padding: 0 6rem;
}

nav li a {
  font-size: 18px;
}

nav .brand-logo {
  padding: 4px 0 3px 0;
}

body {
  background-color: #0D0D0D;
  font-family: 'Lexend Deca', sans-serif;
  overflow-x: hidden;
}

.container {
  padding: 0 70px;
}

.col {
  padding: 0 !important;
  margin: 0;
}

.member {
  border-radius: 15px;
  background-color: #000;
  color: #fff;
  margin: 0 14px 14px 0;
  display: inline-block;
}

.member-content {
  padding: 2px 14px 14px 14px;
}

.member-content h5 {
  margin: 0;
}

.member-name, .event-name {
  color: #fff;
  font-size: 1.2rem;
  word-wrap: break-word;
}

.social {
  margin: 5px 0;
}

.member p {
  margin: 0;
  color: #16e16e;
}

.member-img {
  width: 200px;
  height: 200px;
  height: auto;
  border-radius: 15px 15px 0 0;
  margin: 0;
}

p {
  color: #fff;
}

h4 {
  color: #fff;
}

.jumbotron {
  color: #fff;
  width: 75%;
  margin: 42px 0;
}

.jumbotron .title {
  font-size: 48px;
}

.event-card p {
  margin: 4px 0;
}

.card {
  background-color: #0d0d0d;
  color: #fff;
  word-wrap: break-word;
  padding: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  margin: 10px;
}

.card hr {
  border: 1px solid #fff;
  background-color: #fff;
}

.footer hr {
  background-color: #ddd;
  margin: 0;
}

.footer-text {
  color: #ddd;
  text-align: center;
  padding: 12px 0;
}